.App {
  max-width: 860px;
  margin: 40px auto;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 100px);
  gap: 20px;
}
